.details-overview {
  display: flex;
  justify-content: space-around;

  .mat-divider {
    margin: 20px 0;
  }

  .order-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: $margin-lg;
  }

  .front-list {
    margin: $margin-lg;
    flex: 1;

    .front-row {
      display: flex;

      .row-details {
        display: flex;
        flex-direction: column;
        margin-bottom: $margin-md;

        .stage-with-quantity {
          display: flex;

          .incomplete {
            color: white;
            background-color: red;
          }

          .complete {
            color: white;
            background-color: limegreen;
          }

          .not-started {
            color: inherit;
          }
        }

        .group {
          margin-bottom: $margin-sm;
          display: flex;
          flex: 1 1 0;
        }
      }
    }
  }
}


