.details-overview {
  display: flex;
  justify-content: space-around;

  .order-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: $margin-lg;
  }

  .front-list {
    margin: $margin-lg;
    flex: 1;

    .front-row {
      display: flex;

      .row-details {
        display: flex;
        flex-direction: column;

        .group {
          margin-bottom: $margin-sm;
          display: flex;
          flex: 1 1 0;
        }
      }
    }
  }
}


