<div class="details-overview">
    <button class="close" mat-icon-button color="primary" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
    </button>
    <div class="details">
        <div class="order-details">
            <h4>Szczegóły</h4>
            <icon-with-text [icon]="iconName"
                            [text]="order.name"
                            title="Numer zamówienia">
            </icon-with-text>
            <icon-with-text [icon]="iconStage"
                            [text]="stageService.convertToView(order.stage)"
                            title="Etap produkcji">
            </icon-with-text>
            <icon-with-text [icon]="iconCustomer"
                            [text]="order.customer"
                            title="Klient">
            </icon-with-text>
            <icon-with-text [icon]="iconRoute"
                            [text]="order.route"
                            title="Trasa">
            </icon-with-text>
            <icon-with-text [icon]="iconCalendar"
                            [text]="order.orderedAt| date:'dd/MM/yyyy'"
                            title="Data zlecenia">
            </icon-with-text>
            <icon-with-text [icon]="iconPalette"
                            [text]="order.color"
                            title="Kolor">
            </icon-with-text>
            <icon-with-text [icon]="iconWidth"
                            [text]="order.size"
                            title="Grubość płyty">
            </icon-with-text>
            <icon-with-text [icon]="iconCutter"
                            [text]="order.cutter"
                            title="Frez">
            </icon-with-text>
            <icon-with-text [icon]="iconComment"
                            [text]="order.comment"
                            title="Komentarz">
            </icon-with-text>

            <mat-divider class="mat-divider"></mat-divider>

            <div class="deadline-form">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Termin realizacji"
                           [(ngModel)]="deadline" name="deadline">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="saveDeadline()">Zapisz</button>
            </div>

            <mat-divider class="mat-divider"></mat-divider>

            <button *ngIf="!order.completed" mat-raised-button color="success" (click)="statusChanged()">Oznacz jako zakończone
            </button>
            <button *ngIf="order.completed" mat-raised-button color="warn" (click)="statusChanged()">Przywróć do procesowania</button>


            <!--        <mat-form-field>-->
            <!--            <input matInput placeholder="Wycena" [(ngModel)]="order.price" name="price">-->
            <!--        </mat-form-field>-->
            <!--        <mat-form-field>-->
            <!--            <input matInput placeholder="Plik do wycinki" [(ngModel)]="order.price" name="price">-->
            <!--        </mat-form-field>-->

        </div>
        <div class="front-list">
            <h3>Lista elementów</h3>
            <div class="front-row" *ngFor="let front of order.fronts;let i = index">
                <span><b>{{i + 1}}.</b></span>
                <div class="row-details">
                    <div class="front info">
                        <icon-with-text [icon]="iconHeight"
                                        [text]="front.height"
                                        title="Wysokość">
                        </icon-with-text>
                        <icon-with-text [icon]="iconWidth"
                                        [text]="front.width"
                                        title="Szerokość">
                        </icon-with-text>
                        <icon-with-text [icon]="iconQuantity"
                                        [text]="front.quantity"
                                        title="Ilość">
                        </icon-with-text>
                        <icon-with-text [icon]="iconBarcode"
                                        [text]="front.barcode"
                                        title="Kod kreskowy">
                        </icon-with-text>
                        <div class="stage-with-quantity">
                            <icon-with-text [icon]="iconStage"
                                            [text]="stageService.convertToView(front.stage)"
                                            title="Etap produkcji">
                            </icon-with-text>
                            <span [ngClass]="getBorderColor(front)">{{getQuantity(front)}}</span>
                        </div>
                    </div>
                    <div class="front" *ngIf="front.comment">
                        <icon-with-text [icon]="iconComment" [text]="front.comment"
                                        title="Komentarz"></icon-with-text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
