.orders-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: $margin-md;
  box-shadow: 0 -2px 0px rgba(0, 0, 0, 0.25);

  &.selected {
    background: $selected-color;
  }

  .order-info {
    font-size: $font-medium;
    grid-column: 1 / 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .label {
    flex-basis: 34%;

    &.growing {
      flex-grow: 1;
    }

    &.tiny {
      display: flex;
      justify-content: space-between;
    }
  }

  .input {
    font-weight: normal;
    padding-left: $padding-sm;
  }

  .details-btn {
    grid-column: 8;
    margin: auto;
  }

  .packed {
    color: green;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}
