<div class="orders-row" [ngClass]="{'selected':isSelected}" (click)="showDetails()">
    <div class="order-info">
        <icon-with-text class="label"
                        [icon]="iconName"
                        [text]="order.name"
                        title="Numer zamówienia">
        </icon-with-text>
        <icon-with-text class="label date"
                        [icon]="iconCalendar"
                        [text]="order.lastProcessedOn? (order.lastProcessedOn | date:'dd/MM/yyyy'): '---'"
                        title="Data spakowania">
        </icon-with-text>
        <icon-with-text class="label stage"
                        [icon]="iconStage"
                        [text]="stageService.convertToView(order.stage)"
                        title="Etap produkcji">
        </icon-with-text>
        <icon-with-text class="label"
                        [icon]="iconCustomer"
                        [text]="order.customer"
                        title="Klient">
        </icon-with-text>
        <icon-with-text class="label"
                        [icon]="iconRoute"
                        [text]="order.route"
                        title="Trasa">
        </icon-with-text>
        <icon-with-text class="label quantity"
                        [icon]="iconQuantity"
                        [text]="order.quantity"
                        title="Ilość">
        </icon-with-text>
    </div>
    <div *ngIf="order.packed" class="packed-icon">
        <icon-with-text [icon]="iconPacked"
                        title="Spakowane">
        </icon-with-text>
    </div>
</div>
