@mixin page-background() {
    background-color: $color-background;
  
    position: absolute;
    top: $navbar-height;
    left: 0;
    right: 0;
    bottom: 0;
  
    height: auto;
    padding-bottom: $navbar-height;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  @mixin tile-with-metrics($width, $height, $margin-top) {
    width: $width;
    min-height: $height;
  
    margin: auto;
    margin-top: $margin-top;
  
    overflow-x: hidden;
  
    background-color: $color-white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  }
  
  @mixin button($height, $width, $color) {
    width: $width;
    padding: 10px;
  
    font-size: 1.2rem;
    text-align: center;
  
    color: $color-white;
    background-color: $color;
  
    border: none;
    outline: none;
    cursor: pointer;
  
    &:hover {
      background-color: darken($color: $color, $amount: 5%);
    }
  
    // tablet & desktop
    @media (min-width: 540px) {
      height: $height;
      font-size: $font-medium;
      padding: 0;
    }
  }
