
$color-background: #eeeeee;
$color-dark-gray: #949293;
$color-light-gray: #c2c0c1;
$font-color: #000;
$color-white: #fff;

$font-small: 0.75rem;
$font-medium: 1rem;
$font-large: 1.5rem;
$font-x-large: 24rem;

$font-family-global: Ubuntu;

$navbar-height: 100px;

$margin-sm: 0.25rem; /* 5px; */
$margin-md: 0.5rem; /* 10px; */
$margin-lg: 1rem; /* 20px; */

$padding-sm:  0.25rem; /* 5px; */
$padding-md:  0.5rem; /* 10px; */
$padding-lg: 1rem; /* 20px; */
