@import 'variables';
@import 'mixins';
@import 'src/app/app.component.scss';
@import 'src/app/components/commons/label-with-text/label-with-text.component.scss';
@import 'src/app/components/commons/label-with-input/label-with-input.component.scss';
@import 'src/app/components/commons/button/button.component.scss';
@import 'src/app/components/commons/icon-with-text/icon-with-text.component.scss';
@import 'src/app/components/navbar/navbar.component.scss';
@import 'src/app/components/orders/orders.component.scss';
@import 'src/app/components/orders/order-row/order-row.component.scss';
@import 'src/app/components/orders/order-detail/order-detail.dialog';
@import 'src/app/components/orders/search-criteria/search-criteria.component.scss';
@import 'src/app/components/login/login.component.scss';
@import 'src/app/components/home/statistics/statistics.component.scss';
@import 'src/app/components/home/home.component.scss';


html, body {
  margin: 0;
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
