<div class="nav-container">
     <nav class="nav-items nav-items-left">
       <div class="nav-link-brand">
         <a routerLink="/main"><img src="/assets/frontwitlogo.jpg"></a>
       </div>
       <div class="nav-link">
          <a routerLink="/main">STRONA GŁÓWNA</a>
        </div>
       <div class="nav-link">
          <a routerLink="/orders">ZAMÓWIENIA</a>
       </div>
     </nav>
    <nav class="nav-items nav-items-right">
      <a routerLink="/login" (click)="logout()">WYLOGUJ</a>
    </nav>
  </div>