# copy this file to /etc/systemd/system/
# run sudo systemctl daemon-reload
# run sudo systemctl enable administration.service
# run sudo systemctl start administration.service
[Unit]
Description=Barcode Administration Spring App
[Service]
User=pi
WorkingDirectory=/home/patryk/dev
ExecStart=/home/patryk/dev/run-administration
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target