<div class="component-details">
  <div class="component-data-item"><span class="item-header">Barcode: </span>{{front?.barcode}}</div>
  <div class="component-data-item"><span class="item-header">Height: </span>{{front?.height}}</div>
  <div class="component-data-item"><span class="item-header">Width: </span>{{front?.width}}</div>
  <div class="component-data-item"><span class="item-header">Comment: </span>{{front?.comment}}</div>
  <div class="component-data-item"><span class="item-header">Last modification: </span>{{front?.lastModification}}</div>
  <div class="component-data-item"><span class="item-header">Damaged: </span>{{front?.damaged}}</div>
</div>
    
