<div class="routes-component" *ngIf="true">
    <span>Stwórz trasę:</span>
    <br/>
    <div class="tables">
        <div class="candidate-list">
            <mat-expansion-panel *ngFor="let customer of customers">
                <mat-expansion-panel-header>
                    <mat-panel-title class="label customer">
                        {{customer.customer}}
                    </mat-panel-title>
                    <mat-panel-title class="label payment">
                        {{customer.paymentType}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox color="primary" (change)="changeAllOrders($event.checked,customer)">Wszystkie zamówienia
                </mat-checkbox>
                <table class="flex-list" *ngFor="let order of customer.orders">
                    <span title="Zamówienie" class="label order">
                        <mat-icon>info_outline</mat-icon>
                        {{order.name}}</span>
                    <td class="label quantity"> {{order.quantity}} szt.</td>
                    <td class="label price"> {{order.price}}  zł</td>
                    <mat-checkbox color="primary"
                                  (change)="$event.checked?addToRoute(customer,order):removeFromRoute(customer,order)"
                                  [checked]="order.isSelected"></mat-checkbox>
                </table>
            </mat-expansion-panel>
        </div>
        <div class="route-list">
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <table class="example-box" *ngFor="let routeDetail of routeDetails" cdkDrag>
                    <td class="customer">
                        {{routeDetail.customer}}
                    </td>
                    <td class="order">
                        {{routeDetail.displayAggregateOrders()}}
                    </td>
                    <td>{{routeDetail.calculatePrice()}} zł</td>
                    <td class="payment">
                        {{routeDetail.paymentType}}
                    </td>
                </table>
            </div>
            <button mat-button color="primary" (click)="generateRouteDocument()">
                <mat-icon>picture_as_pdf</mat-icon>
                Generuj raport
            </button>
        </div>
    </div>
</div>