<div class="routes-component" *ngIf="true">
    <h4 class="title">Aktywne trasy</h4>
    <button mat-button color="primary" (click)="handleNewRoute()">
        <mat-icon>add</mat-icon>
        Nowa trasa
    </button>
    <table mat-table [dataSource]="routes" class="mat-elevation-z8" *ngIf="routes?.length > 0">
        <ng-container matColumnDef="index" class="column">
            <th mat-header-cell *matHeaderCellDef>L.p.</th>
            <td mat-cell *matCellDef="let i= index">{{i+1}}
            </td>
        </ng-container>
        <ng-container matColumnDef="name" class="column">
            <th mat-header-cell *matHeaderCellDef>Nazwa</th>
            <td mat-cell *matCellDef="let route">{{route.name}}
            </td>
        </ng-container>
        <ng-container matColumnDef="date" class="column">
            <th mat-header-cell *matHeaderCellDef>Data realizacji</th>
            <td mat-cell *matCellDef="let route">{{route.date | date:'dd/MM/yyyy' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="action" class="column">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let route">
                <button mat-button color="primary" (click)="handleEditRoute(route)" title="Edytuj trasę">
                    <mat-icon >edit</mat-icon>
                </button>
                <button mat-button color="primary" (click)="handleDeleteRoute(route)" title="Usuń trasę">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-button color="primary" (click)="handleFulfillRoute(route)" title="Oznacz trasę jako zakończoną">
                    <mat-icon>check</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="routeColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: routeColumns"></tr>
    </table>
</div>