<div class="routes-component" *ngIf="true">
    <h4 class="title">Kryteria wyszukiwania</h4>
    <span>
        <mat-form-field>
            <input matInput placeholder="Trasa" [(ngModel)]="routes" name="route">
        </mat-form-field>
        <button mat-button color="primary" (click)="search()">
        <mat-icon>search</mat-icon>
        Szukaj
    </button>
    </span>
    <br/>
    <div class="tables">
        <div class="candidate-list">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let customer of customers">
                    <mat-expansion-panel-header [expandedHeight]="'48px'">
                        <mat-panel-title (click)="$event.stopPropagation()">
                            <mat-checkbox color="primary" (change)="changeAllOrders($event.checked,customer)">
                            </mat-checkbox>
                        </mat-panel-title>
                        <mat-panel-title class="label customer">
                            {{customer.customer}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="customer-orders-list" *ngFor="let order of customer.orders">
                        <mat-checkbox color="primary"
                                      (change)="$event.checked?addToRoute(customer,order):removeFromRoute(customer,order)"
                                      [checked]="order.isSelected"></mat-checkbox>
                        <span title="Zamówienie" class="label order">
                        <mat-icon>info_outline</mat-icon>
                            {{order.name}}
                    </span>
                        <td class="label quantity"> {{order.quantity}} szt.</td>
                        <td class="label price"> {{order.price}} zł</td>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <!--        -->

        <div class="route-list">
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let routeDetail of routeDetails; let i=index" cdkDrag>
                    <span class="label no">{{i + 1}}</span>
                    <span class="label customer">
                        {{routeDetail.customer}}
                    </span>
                    <span [innerHTML]="routeDetail.displayAggregateOrders()" class="label orders"></span>
                    <span class="label payment">
                        {{routeDetail.paymentType}}
                    </span>
                    <span class="label price">{{routeDetail.calculatePrice()}} zł</span>
                </div>
            </div>
            <p>
                <mat-form-field *ngIf="routeDetails.length > 0">
                    <input matInput placeholder="Nazwa trasy" [(ngModel)]="routeNamePdf" name="routeNamePdf">
                </mat-form-field>
            </p>
            <button *ngIf="routeDetails.length > 0" mat-button color="primary" (click)="generateRouteDocument()">
                <mat-icon>picture_as_pdf</mat-icon>
                Generuj trase
            </button>
        </div>
    </div>
</div>