.statistics {
  display: flex;
  justify-content: space-between;

  .customers {
    flex-basis: 49%;
  }

  .orders {
    flex-basis: 49%;
  }

  .stages {
    flex-basis: 40%;
  }

  .stage-statistics-search {
    display: flex;
    flex-direction: row;
    .mat-form-field {
      margin: 0 2px 0 2px;
    }
  }

  .mat-column-complaints, .mat-column-orders {
    text-align: center;
  }
}
