
$color-background: #eeeeee;
$color-dark-gray: #949293;
$color-light-gray: #c2c0c1;
$color-black: #000;
$color-white: #fff;

$font-x-large: 24px;
$font-large: 18px;
$font-small: 12px;
$font-normal: 14px;

$font-family-global: Ubuntu;

$navbar-height: 100px;
