<div class="component-details">
    <div class="component-data-item"><span class="item-header">Barcode: </span>{{componentDetail?.barcode}}</div>
    <div class="component-data-item"><span class="item-header">Height: </span>{{componentDetail?.height}}</div>
    <div class="component-data-item"><span class="item-header">Width: </span>{{componentDetail?.width}}</div>
    <div class="component-data-item"><span class="item-header">Comment: </span>{{componentDetail?.comment}}</div>
    <div class="component-data-item"><span class="item-header">Last modification: </span>{{componentDetail?.lastModification}}</div>
    <div class="component-data-item"><span class="item-header">Damaged: </span>{{componentDetail?.damaged}}</div>
</div>
    
    