$carpentry-img:url("../../../carpentry.jpg");
$logo-img:url("../../../logo.jpg");

.root-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-image: $carpentry-img;
  background-repeat:no-repeat;
  background-size:cover;
}

.logo {
  background: $logo-img;
  width:393px;
  height: 95px;
  margin:auto;
}

.outer {
  height:25vh;
}

.inner {
  height:50vh;
}
.center-box {
  color: black;
  background-color: white;
  border-radius: 10px;
  text-align:center;
  padding:20px;
}

.welcomeMessage {
  margin-top:20px;
}
