<div class="root-container" routerLink="/main">
  <div class="container">
    <div class="row outer">
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
    </div>

    <div class="row inner">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6 center-box" >
        {{myDate | date: "dd/MM/yyyy"}}
        {{myDate | date: "HH:mm:ss"}}
      </div>
      <div class="col-sm-3">
      </div>
    </div>

    <div class="row outer">
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</div>
