<div class="orders-view">
    <div class="search">
        <search-criteria (searchClicked)="handleSearchClicked($event)"
                         (fetchClicked)="handleFetchClicked()"></search-criteria>
        <h3 class="title">Lista aktywnych zamówień</h3>
        <div class="order-list">
            <order-row
                    *ngFor="let order of orders | paginate:{totalItems: totalElements, itemsPerPage:size, currentPage: page}"
                    [order]="order"
                    (showDetailsClicked)="handleShowDetails(order)"
                    [isSelected]="order.id === selectedId">
            </order-row>
        </div>
        <pagination-controls *ngIf="showPagination()" class="pagination"
                             previousLabel="Poprzednia"
                             nextLabel="Następna"
                             (pageChange)="handlePageChanged($event)"></pagination-controls>
    </div>
    <div class="details">
        <div *ngIf="(orderDetail$| async)?.id" id="details-container">
            <div id="order-detail">
                <order-detail [order]="orderDetail$|async"></order-detail>
            </div>
        </div>
    </div>
</div>
