<div class="orders-view">
    <search-criteria (searchClicked)="handleSearchClicked($event)"
                     (fetchClicked)="handleFetchClicked()">
    </search-criteria>
    <div class="order-list" *ngIf="orders">
        <h4 class="title">Lista zamówień</h4>
        <order-row
                *ngFor="let order of orders | paginate:{totalItems: totalElements, itemsPerPage:size, currentPage: page}"
                [order]="order"
                (showDetailsClicked)="handleShowDetails(order)"
                [isSelected]="order.id === selectedId">
        </order-row>
    </div>
    <pagination-controls *ngIf="showPagination()" class="pagination"
                         previousLabel="Poprzednia"
                         nextLabel="Następna"
                         (pageChange)="handlePageChanged($event)"></pagination-controls>
</div>