<div class="details-overview">
  <div class="order-details">
    <label-with-text label="Nazwa" text="{{order?.name}}"></label-with-text>
    <label-with-text label="Kolor" text="{{order?.color}}"></label-with-text>
    <label-with-text label="Klient" text="{{order?.customer}}"></label-with-text>
    <label-with-text label="Etap Produkcji" [text]="getStage(order?.stage)"></label-with-text>
    <label-with-text label="Data zlecenia" text="{{order?.orderedAt}}"></label-with-text>
    <label-with-text label="Sztuk" text="{{order?.size}}"></label-with-text>
    <label-with-text label="Frez" text="{{order?.cutter}}"></label-with-text>
    <label-with-text label="Komentarz" text="{{order?.comment}}"></label-with-text>
  </div>

  <div class="front-list">
    <div class="front-row" *ngFor="let front of order?.components;let i = index">
      <span>{{i + 1}}.</span>
      <icon-with-text [icon]="iconHeight" [text]="front.height" title="Wysokość"></icon-with-text>
      <icon-with-text [icon]="iconWidth" [text]="front.width" title="Szerokość"></icon-with-text>
      <icon-with-text [icon]="iconBarcode" [text]="front.barcode" title="Kod kreskowy"></icon-with-text>
      <icon-with-text [icon]="iconQuantity" [text]="front.quantity" title="Ilość"></icon-with-text>
      <icon-with-text [icon]="iconStage" [text]="getStage(front.stage)" title="Etap produkcji"></icon-with-text>
      <icon-with-text [icon]="iconComment" [text]="front.comment" title="Etap produkcji"></icon-with-text>
    </div>
  </div>
</div>
