<div class="order-details">
  <div class="order-data-item"><span class="item-header">Nazwa: </span>{{order.name}}</div>
  <div class="order-data-item"><span class="item-header">Kolor: </span>{{order.color}}</div>
  <div class="order-data-item"><span class="item-header">Ilość elementów: </span>{{order.size}}</div>
</div>
<div class="order-details">
  <div class="order-data-item"><span class="item-header">Frez: </span>{{order?.cutter}}</div>
  <div class="order-data-item"><span class="item-header">Komentarz: </span>{{order?.comment}}</div>
<!--  <div class="order-data-item"><span class="item-header">Trasa: </span>{{order?.route}}</div>-->
</div>
<div class="order-details">
  <div class="order-data-item"><span class="item-header">Klient: </span>{{order?.customer}}</div>
  <div class="order-data-item"><span class="item-header">Etap produkcji: </span>{{order?.stage}}</div>
  <div class="order-data-item"><span class="item-header">Data zlecenia: </span>{{order?.orderedAt}}</div>
</div>
