.navbar {
  position: fixed;
  height: $navbar-height;
  width: 100%;
  top: 0;
  display: flex;
  padding: 0 56px 0 38px;
  z-index: 1;
  color: $font-color;
  background-color: $color-white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.nav-items {
  display: flex;
  align-items: center;
  margin: 0 $margin-md;
}

.nav-link {
  padding: 0 28px 0 28px;
  font-weight: bold;
}

.nav-items-right {
  margin-left: auto;
  font-size: $font-medium;
  font-weight: bold;
}

.nav-items-left {
  font-size: $font-medium;
}

.nav-link-brand {
  height: $navbar-height;
}

a {
  color: inherit;
  text-decoration: inherit;
}
