<div class="navbar">
    <div class="nav-items left">
        <nav>
            <div class="nav-link-brand">
                <a routerLink="/" (click)="handleTabChanged()"><img src="/assets/frontwitlogo.jpg" alt="FRONTWIT"></a>
            </div>
        </nav>
        <a routerLink="/">
            <button color="primary" class="nav-items" mat-button (click)="handleTabChanged()">
                <mat-icon>home</mat-icon>
            </button>
        </a>
        <a routerLink="/orders">
            <button class="nav-items" mat-button (click)="handleTabChanged()">
                Zamówienia
            </button>
        </a>
        <a routerLink="/routes">
            <button class="nav-items" mat-button (click)="handleTabChanged()">
                Trasy
            </button>
        </a>
    </div>
    <a href="/logout">
        <button class="nav-items right" mat-button>
            Wyloguj
        </button>
    </a>
</div>