ul > li {
  margin-left: 20px;
}

ul > li > a {
  color:rgba(255,255,255,0.70);

  &.active-link{
    color: white;
    border-bottom: 1px solid white;
  }

  &:hover{
    color:white;
  }
}

.bg-primary {
  box-shadow: 5px 5px 10px black;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
}

.page-content {
  margin:20px;
}

