.app {
  margin-top: 100px;
}

.mat-snack-bar-container, .mat-simple-snackbar-action {
  color: white;

  &.error {
    background-color: #fb000087;
  }

  &.success {
    background: #4caf5087;
  }
}
