.app {
  margin-top: 100px;
}

.mat-snack-bar-container, .mat-simple-snackbar-action {
  color: white;
  min-width: 250px;

  &.error {
    background-color: #fb000087;
  }

  &.success {
    background: rgba(0, 128, 0, 0.7);
  }

  &.warn {
    background: rgba(198, 187, 50, 0.7);
  }
}

.mat-paginator {
  .mat-paginator-container {
    justify-content: center;
  }
}

button:focus {
  outline: none;
}

.title {
  text-align: center;
}

// mat-table
.mat-table {
  width: 100%;
}

.mat-header-cell {
  font-size: $font-medium;
}

.dialog {
  &.close {
    margin: -20px;

    &:focus {
      outline: 0;
    }
  }
}