.app {
  margin-top: 100px;
}

.mat-snack-bar-container, .mat-simple-snackbar-action {
  color: white;

  &.error {
    background-color: #fb000087;
    min-width: 250px;
  }

  &.success {
    background: rgba(0, 128, 0, 0.7);
    min-width: 250px;
  }
}

.mat-paginator {
  .mat-paginator-container {
    justify-content: center;
  }
}

.title {
  text-align: center;
}

// mat-table
.mat-table {
  width: 100%;
}

.mat-header-cell {
  font-size: $font-medium;
}