
//TODO mudim brzydko te kropki wygladaja, https://decembersoft.com/posts/say-goodbye-to-relative-paths-in-typescript-imports/
// na tym linku jest rozwiazanie jak uniknac tego
$logo-img:url("../../../logo.jpg");

.header {
  width:100vw;
  height:100px;
  margin-top:10px;
  margin-bottom:10px;
}

.logo {
  background: $logo-img;
  width:393px;
  height: 95px;
  margin:auto;
}
