.home {
  display: flex;
  padding: $padding-lg;
  justify-content: space-between;

  .reminders {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;

    .column {
      flex-basis: 10%;

      &.name {
        flex-basis: 30%;
      }

      &.customer {
        flex-basis: 50%;
      }
    }
  }
  .statisticsView {
    flex-basis: 55%;
  }
}