<div class="orders-view">
  <div class="search">
    <search-criteria class="search-criteria"></search-criteria>
    <div class="order-list">
      <h3 class="title">Lista aktywnych zamówień</h3>
      <div class="bricklet">
        <order-row *ngFor="let order of orders$|async"
                   [order]="order"
                   (showDetailsClicked)="handleShowDetails(order)">
        </order-row>
      </div>
    </div>
  </div>
  <div class="details">
    <div *ngIf="orderDetail$" id="details-container">
      <div id="order-detail">
        <order-detail [order]="orderDetail$|async"></order-detail>
      </div>
      <div *ngIf="orderDetail$" id="component-list" class="bricklet">
        <component-list [orderDetail]="orderDetail$"
                        (componentDetail)="handleComponentDetails($event)">

        </component-list>
      </div>

      <div *ngIf="selectedFront" id="component-detail" class="bricklet">
        <component-detail [front]="selectedFront"></component-detail>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4>Kody kreskowe dla zamówienia TW101</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(barcodeUrl)' width="680" height="500" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </div>
</ng-template>
