.login-view {
  text-align: center;

  .tile {
    padding: $padding-lg;
  }

  .login-form {
    display: inline-block;

    .inputs {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .confirm {
      padding: $padding-md;
    }
  }

  .error {
    color: red;
  }

}
