<div class="login-view">
    <div class="tile">
        <h1 class=header>Zaloguj się</h1>
    </div>
    <div class="login-form">
        <div>
            <div class="inputs">
                <label-with-input label="Nazwa użytkownika"
                                  [input]="username"
                                  (inputChanged)="handleUsernameChanged($event)">

                </label-with-input>
                <label-with-input label="Hasło"
                                  type="password"
                                  [input]="password"
                                  (inputChanged)="handlePasswordChanged($event)">

                </label-with-input>
            </div>
        </div>
        <div *ngIf="this.authFailed" class="error">Nieprawidłowy login lub hasło</div>
        <btn class="confirm" text="Zaloguj" (click)="login()"></btn>
    </div>
</div>
