<div class="search-criteria">
    <h4 class="title">Kryteria wyszukiwania</h4>
    <form (ngSubmit)="search()" name="searchCriteria">
        <div class="search-form">
            <mat-form-field>
                <input matInput placeholder="Nazwa zamówienia" [(ngModel)]="orderName" name="orderName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nazwa klienta" [(ngModel)]="customer" name="customer">
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="orderedAtPicker" [max]="today" placeholder="Data zlecenia"
                       [(ngModel)]="orderedAt" name="orderedAt">
                <mat-datepicker-toggle matSuffix [for]="orderedAtPicker"></mat-datepicker-toggle>
                <mat-datepicker #orderedAtPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="processingPicker" [max]="today" placeholder="Ostatnie skanowanie"
                       [(ngModel)]="processingDate" name="processingDate">
                <mat-datepicker-toggle matSuffix [for]="processingPicker"></mat-datepicker-toggle>
                <mat-datepicker #processingPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Trasa" [(ngModel)]="route" name="route">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Etap produkcji</mat-label>
                <mat-select [(value)]="stage">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let stage of stages" [value]="stage.value">
                        {{stage.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <mat-checkbox color="primary" labelPosition="after" [(ngModel)]="packed" name="packed">Spakowane
                </mat-checkbox>
                <mat-checkbox color="primary" labelPosition="after" [(ngModel)]="completed" name="completed">Zakończone
                </mat-checkbox>
            </div>
        </div>
        <mat-divider></mat-divider>
        <button mat-button color="primary">
            <mat-icon>search</mat-icon>
            Szukaj
        </button>
        <button type="button" mat-button color="primary" (click)="fetch()">
            <mat-icon>sync_alt</mat-icon>
            Pobierz zamówienia z innego systemu
        </button>
    </form>
</div>
