<div class="search-criteria">
    <h3 class="title">Kryteria wyszukiwania</h3>
    <div class="search-form">
        <mat-form-field>
            <input matInput placeholder="Nazwa zamówienia" (change)="onOrderNameChange($event)">
        </mat-form-field>
        <mat-icon aria-hidden="false" aria-label="Example home icon">industry</mat-icon>

        <mat-form-field>
            <mat-label>Etap produkcji</mat-label>
            <mat-select>
                <mat-option *ngFor="let stage of stages" [value]="stage.value"
                            (onSelectionChange)="onStageChange($event)">
                    {{stage.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox color="primary" labelPosition="after" (change)="onCompletedChange($event)">Zakończone
        </mat-checkbox>
        <mat-divider></mat-divider>
        <button mat-button color="primary" (click)="search()">Szukaj</button>
    </div>
</div>
