.search-criteria {
  padding: $padding-md;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: baseline;

  .title {
    padding: $padding-md;
    text-align: center;
    width: 100%;
  }

  .search-form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
      flex-basis: 50%;
      padding: 0 $margin-md;
    }

    .action-btns {

    }

    .search-btn {
      align-self: flex-end;
    }
  }

  button {
    width: 50%;
  }
}
