# copy this file to /etc/systemd/system/
# run sudo systemctl daemon-reload
# run sudo systemctl enable administration.service
# run sudo systemctl start administration.service
[Unit]
 Description = Administration App Service
 After network.target = administration.service
[Service]
 Type = forking
 Restart=always
 RestartSec=5
 SuccessExitStatus=143
 ExecStart = /home/patryk/dev/run-administration start
 ExecStop = /home/patryk/dev/run-administration stop
 ExecReload = /home/patryk/dev/run-administration  reload
[Install]
 WantedBy=multi-user.target

