<div class="login-view">
  <div class="tile">
    <h2 class=tile-header>Zaloguj się</h2>
    <div class="container">
      <form (ngSubmit)="login()">
        <div class="col-input">
          <input type="text" class="form-control" autocomplete="off" placeholder="Nazwa użytkownika" name="username"
            [(ngModel)]="loginModel.username">
          <input type="password" class="form-control" autocomplete="off" placeholder="Hasło" name="password"
            [(ngModel)]="loginModel.password">
        </div>
        <button type="submit" class="btn-confirm">
          Log in
        </button>
      </form>
    </div>
  </div>
</div>