.login-view {
    $line-height: 38px;
  
    @include page-background();
    padding-bottom: 0;
  
    .tile {
      @include tile-with-metrics($width: 40%, $height: 50%, $margin-top: 10%);
  
      padding: 30px 10px;
      margin-bottom: 8%;
  
      &-header {
        text-align: center;
        font-size: $font-x-large;
        padding: 1rem;
        color: $color-black;
      }
    }

    .container {
      width: 75%;
      text-align: center;

      .form-control {
        margin-bottom: 25px;
      }

      .btn-confirm {
        @include button($line-height, 50%, #000000);
      }

    }


}  