<div class="login-view">
    <div class="tile">
      <h2 class=tile-header>Zaloguj się</h2>
  
      <div class="container">
          <div class="col-input">
            <input type="text" class="form-control" autocomplete="off" [(ngModel)]="loginModel.username">
            <input type="password" class="form-control" autocomplete="off" [(ngModel)]="loginModel.password">
          </div>
          <button (click)="login()" class="btn-search">
              Log in
          </button>
      </div>
  
    </div>
  </div>